<section class="pt-24 bg-white">
  <div class="px-12 mx-auto max-w-7xl">
    <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">
      <h1 class="mb-8 text-4xl font-extrabold leading-none tracking-normal text-gray-900 md:text-6xl md:tracking-tight">
        <span>Diventa</span> <span
          class="block w-full mx-2 py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-green-400 to-blue-500 lg:inline">Aungulare</span>
        <span>pure tu</span>
      </h1>
      <p class="px-0 mb-8 text-lg text-gray-600 md:text-xl lg:px-24">
        Inserisci un nuovo todo e clicca su Aggiungi 
      </p>
    </div>
  </div>
</section>